.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.image {
    max-width: 30%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


footer {
    text-align: center;
    vertical-align: middle;
}