body {
    background-color: #F6F4F0;
    background-size: cover;
}

header {
    align-items: center;
    text-align: center;
}

.logo {
    height: 300px;
    width: 400px;
}

.intro {
    font-family: "Brush Script MT";
}

nav {
    border-top: 2px solid #4E4948;
    border-bottom: 2px solid #4E4948;
    font-size: 25px;
    padding: 10px;
}

a {
    color: #4E4948;
    font-family: Optima;
}

a:hover {
    color: #BEA49A;
}

.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.image {
    max-width: 20%;
    height: auto;
    justify-content: center;
    align-items: center;
    margin: 20px;
}


footer {
    text-align: center;
    vertical-align: middle;
}