body {
    background-color: #F6F4F0;
    background-size: cover;
    font-family: 'Century Gothic', 'CenturyGothic', 'AppleGothic', sans-serif;
}

header {
    align-items: center;
    text-align: center;
}

.logo {
    height: 250px;
    width: 400px;
}

.nav-br {
    display: none;
}

nav {
    border-top: 2px solid #4E4948;
    border-bottom: 2px solid #4E4948;
    font-size: 25px;
    padding: 10px;
    font-family: Calisto MT, Bookman Old Style, Bookman, Goudy Old Style, Garamond, Hoefler Text, Bitstream Charter, Georgia, serif;
}

a {
    color: #4E4948;
}

a:hover {
    color: #BEA49A;
}

.nav-link {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}

.intro {
    color: #741b47;
    font-size: 50px;
    text-align: center;
}

footer {
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 1000px) {
    nav {
        position: absolute;
        width: 96%;
    }

    .intro {
        margin-top: 300px;
    }

    .nav-br {
        display:inline;
        margin-top:10px;
        margin-bottom: 10px;
    }
}
