.container {
    display: flex;
    flex-direction: column;
    background-color: #ead1dcff;
    margin: 20px;
    padding: 10px;
}

.services, .disclaimer {
    align-self: center;
    justify-content: center;
}